/*border color: #bdc3c7
date color: #3498db
h2 color: #2c3e50

font: source sans pro

hr styles for the line in the middle */

body {
	font-family: Source Sans Pro;
	border: 20px solid #bdc3c7;
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
	padding: 25px; 
}

.date {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 2px;
}


h2 {
	color: #2c3e50;
}

.firstParas {
	margin-bottom: 20px;
}

.secondParas {
	margin-bottom: 20px;
}

.leftBorder {
	border-left: 4px solid #bdc3c7;
	padding-left: 10px;
}

hr {
	border-top: 1px solid #cfcfcf;
}